<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Example" Description="Enable Warnings" ToolsVersion="10.0">
  <!-- Default rules available in Visual Studio -->
  <Include Path="NativeRecommendedRules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <!-- Do not use function style C-casts. -->
    <Rule Id="C26475" Action="Warning" />
    <!-- Unitialized Member -->
    <Rule Id="C26495" Action="None" />
    <!-- Special function noexcept -->
    <Rule Id="C26439" Action="None" />
  </Rules>
</RuleSet>